body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-shadow: 0px 2px 2px rgb(255, 255, 255, 0.7);
  overflow: hidden;
  background-image: linear-gradient(to bottom left, rgb(247, 206, 206), lightpink);

}

header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  
  
}

#nav {
  display: flex;
  flex: 1;
  
  
}

header nav:hover {
  background-color: rgba(255, 182, 193, 0.68);
  
  transition: 0.5s;
}

header nav:active {
  box-shadow: none;
  color: rgba(0, 0, 0, 0.523);
}


header nav {
  width: fit-content;
  font-size: 26px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightpink;
  border-radius: 36px;
  padding: 16px;
  margin-left: 50px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  cursor: default;
  user-select: none;
}

header h1 {
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  background-color: lightpink;
  border-radius: 50px;
  padding: 16px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  cursor: default;
  
  
}

header img {
  border-radius: 50%;
  margin: 30px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

main #welcome{
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
  line-height: 150%;
  text-align: center;
  width: 100vh;
  padding: 16px;
  border-radius: 50px;
  background-color: lightpink;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

main #contactinfo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  width: 50vh;
  padding: 16px;
  border-radius: 50px;
  background-color: lightpink;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);

}

main #aboutme {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  width: 115vh;
  padding: 16px;
  border-radius: 50px;
  background-color: lightpink;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  
}

main #work {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  width: 115vh;
  padding: 16px;
  border-radius: 50px;
  background-color: lightpink;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);

}



main nav:hover {
  background-color: rgba(255, 182, 193, 0.68);
  
  transition: 0.5s;
}

main nav:active {
  box-shadow: none;
  color: rgba(0, 0, 0, 0.523);
}


main nav {
  width: fit-content;
  font-size: 26px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightpink;
  border-radius: 36px;
  padding: 16px;
  margin-left: 50px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  cursor: default;
  user-select: none;
  margin: 30px;
}